*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-09-03-Hacks-Key_Learning-Notebook.md
_posts/2022-08-21-Lucas-First-Notebook-v2.md
_posts/2022-09-15-Psychology_and_the_Good_life_Notes.md
_posts/2022-09-11-Create_Performance_Task_Early_Planning.md
_posts/2022-09-07-AppLab_Quiz_BlogPost.md
_posts/2022-09-05-Quiz_list_of_dictionaries.md
_posts/2022-09-04-Palindrome_Test.md
_posts/2022-09-04-backup2_2022-08-30-Lucas_Python_list_title.md
_posts/2022-09-04-backup_2022-08-30-Lucas_Python_list_title.md
_posts/2022-09-03-Personal_Memory_Notebook-Bash.md
_posts/2022-08-30-Lucas_Python_list_title.md
_posts/2022-08-28-python_quiz.md
_posts/2022-09-13-Collaboration_1.1_Notes.md
_posts/2022-08-21-Program_Design_and_Development_1.3_Notes.md
_posts/2022-10-03-Identifying_and_Correcting_Errors_1.4_Notes.md
_posts/2022-10-03-Identifying_and_Correcting_Errors_1.4_Notes.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-03-Identifying_and_Correcting_Errors_1.4_Notes.md
_posts/2022-11-05-Night_At_The_Museum_Blog.md
_posts/2022-10-29-Week_3_Progress_For_Hangman.md
_posts/2022-10-25-Week_2_Progress_For_Hangman.md
_posts/2022-10-16-Internet_Notes.md
_posts/2022-10-09-Final_Project_Plan.md
_posts/2022-10-09-API_Test.md
_posts/2022-10-09-API_For_Hangman_Project.md
_posts/2022-10-03-Unit_1.4_Notes.md
_posts/2022-10-03-Identifying_and_Correcting_Errors_1.4_Notes.md
